{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/event_create.css' %}">
    <title>Food Therapy</title>

    <script type="text/javascript" src="{% static 'vendors/jquery/jquery-3.3.1.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'vendors/jquery-ui/jquery-ui.js' %}"></script>
	<link rel="stylesheet" type="text/css" href="{% static 'vendors/bootstrap/css/bootstrap.css' %}" />

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

	<!-- google chilank fonts -->
	<link rel="preconnect" href="https://fonts.googleapis.com" />
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
	<link href="https://fonts.googleapis.com/css2?family=Chilanka&display=swap" rel="stylesheet" />
</head>
<body>

    <a href="{% url 'dashboard' %}">
        <svg id='arrow' width="35" height="35" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M7.83 11L11.41 7.41L10 6L4 12L10 18L11.41 16.59L7.83 13H20V11H7.83Z" fill="#fff"/>
        </svg>
    </a>

    <div class="eventCreateContainer">
        <div class="eventCreateHeader">
            <p class="eventCreateTitle">Create Food Event</p>
        </div>

        <form class="eventCreateInputContainer" action="{% url 'dashboard' %}">
            <input type="text" placeholder="Name" class="eventCreateInput" required/>
            <input type="text" placeholder="Time" class="eventCreateInput" required/>
            <input type="date" placeholder="Date & Time" class="eventCreateInput" required/>
            <input type="text" placeholder="Food Theme" class="eventCreateInput" required/>     
            <input type="text" placeholder="Event Description" class="eventCreateInput" id="eventCreateEventDescription" required/>
            
            <div class="mb-3 eventCreateInput-block">
                <input class="form-control eventCreateInput-img" type="file" id="formFile">
            </div> 
            
            <button class="eventCreateButton">
                <p class="eventCreateButtonText">
                    Post My Event
                </p>
            </button>
        </form>

    </div>

    <script src="{% static 'js/event_create.js' %}"></script>
</body>
</html>