#header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 45px;
    margin-bottom: 20px;
}
#arrow {
    position: fixed;
    left: 18px;
}
#header-text {
    font-family: 'Inter', sans-serif;
    letter-spacing: -1px;
    font-size: 19px ; 
    display:inline-block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 23ch;
}

.mytext{
    border:0;
    padding:10px;
    margin-left: -10px;
    background:#F8FAFD;
}
.text{
    width:100%;
    display:flex;
    flex-direction:column;
}
.text > p:first-of-type{
    width:100%;
    margin-top:0;
    margin-bottom:auto;
    line-height: 20px;
    font-size: 15px;
    margin-top: auto;
}
.text > p:last-of-type{
    width:100%;
    text-align:right;
    color:silver;
    margin-bottom:-7px;
    margin-top:auto;
    
}
.text-l{
    float:left;
    padding-right:10px;
}        
.text-r{
    float:right;
    padding-left:10px;
}
.avatar{
    display:flex;
    justify-content:center;
    align-items:center;
    width:40px;
    float:left;
    padding-right:10px;
}
.macro{
    width:85%;
    border-radius:15px;
    padding:10px;
    display:flex;
    margin-bottom: 20px;
}
.msj-rta{
    float:right;
    background:#F8FAFD;
    
}
.msj{ 
    float:left;
    background: #FF2A5D;
    color: white;
}
.frame{
    height:720px;
    overflow:hidden;
    padding:0;
}
.frame > div:last-of-type{
    position:absolute;
    bottom:0;
    width:100%;
    display:flex;
}
body > div > div > div:nth-child(2) > span{
    background: whitesmoke;
    padding: 10px;
    font-size: 21px;
    border-radius: 50%;
}
body > div > div > div.msj-rta.macro{
    margin:auto;
    margin-left:5%;
}
ul {
    width:100%;
    list-style-type: none;
    padding:18px;
    position:absolute;
    bottom:80px;
    display:flex;
    flex-direction: column;
    top:0;
    overflow-y:scroll;
}
input:focus{
    outline: none;
}        
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #A7B0C0;
}
::-moz-placeholder { /* Firefox 19+ */
    color: #A7B0C0;
}
:-ms-input-placeholder { /* IE 10+ */
    color: #A7B0C0;
}
:-moz-placeholder { /* Firefox 18- */
    color: #A7B0C0;
}  

div[contenteditable]{
    border: 1px solid black;
    max-height: 200px;
    overflow: auto;
}


